.invoice {
  width: 600px;
  margin: auto;
  border: 1px solid #0b77c5;
  padding: 2.5em 1em 1em;
}
.topIn {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1.5px solid #3e5477;
  padding-bottom: 2em;
}
.topIn .topLogo {
  width: 40px;
  height: 40px;
  border-radius: 7px;
  background-color: #3e5477;
  font-weight: bolder;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.topIn p {
  margin: 0.6em 0 0;
  font-weight: 500;
  font-size: 18px;
}
.topIn span {
  font-weight: 400;
  font-size: 14px;
}

.topIn h2 {
  color: #3e5477;
  font-size: 27px;
  font-weight: 900;
}
.midTable {
  margin: 2em 0 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1.5px solid #3e5477;
  padding-bottom: 2em;
}
.midTable p {
  font-weight: 800;
  font-size: 18px;
  margin: 0 0 0.4em;
  color: #3e5477;
}
.midTable span {
  margin-bottom: 0.3em;
}
.midTab {
  width: 100%;
}
.midTab table {
  width: 100%;
}
.mTableHe {
  color: #3e5477;
  text-align: right;
}
.tLine {
  background-color: #3e5477;
  width: 100%;
  height: 4px;
}
.mTableHe th:nth-child(1) {
  width: 40%;
  text-align: left;
}

.mTableBe {
  color: #3e5477;
  text-align: right;
  margin-bottom: 1em;
}
.mTableBe td:nth-child(1) {
  width: 40%;
  text-align: left;
}
.ttotal {
  width: 200px;
  margin-left: auto;
  margin-top: 2em;
}
.tPri {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.tPri h3 {
  margin: 0;
  color: #3e5477;
}
.tPri p {
  margin: 0;
  font-weight: 700;
}

.llinee {
  border-bottom: 1.5px solid #3e5477;
}
.suTop {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 0.4em;
  font-size: 24px;
  background-color: #3e5477;
  color: #fff;
  padding: 0.4em 1em;
  font-weight: 800;
}
