.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto 5em;
}
.proc {
    width: 98%;
    margin: 2em auto;
    background-color: #f5f5f5;
    padding: 1em .4em;
    /* height: 300pxz; */
}
.proCircle {
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 100%;
  position: relative;
}
.proLines {
  width: 20%;
  height: 5px;
  background-color: grey;
}

.ciDetails {
  position: absolute;
  top: 120%;
  left: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

