.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto 5em;
}
.proc {
  width: 98%;
  margin: 2em auto;
  background-color: #f5f5f5;
  padding: 1em 0.4em;
  /* height: 300pxz; */
}
.proCircle {
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 100%;
  position: relative;
}
.proCircleComplete {
  width: 20px;
  height: 20px;
  background-color: #0d6baf;
  border-radius: 100%;
  position: relative;
}
.proLines {
  width: 20%;
  height: 5px;
  background-color: grey;
}
.proLineComplete {
  width: 20%;
  height: 5px;
  background-color: #0d6baf;
}

.ciDetails {
  position: absolute;
  top: 120%;
  left: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.message p {
  color: #0d6baf;
  font-size: 17px;
  font-weight: bold;
}

.message p span {
  color: #000;
  font-size: 17px;
  font-weight: normal;
}
